@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/descricao.css");
@import url("styles/depoimentos.css");
@import url("styles/conteudo.css");
@import url("styles/cronograma.css");
@import url("styles/rodape.css");

* {
    padding: 0;
    margin: 0;
}

:root {
    --preto-principal: #242323;
    --branco-principal: #FFFFFF;
    --branco-opaco: rgba(255, 255, 255, 0.03);
    --laranja-principal: #B6661B;
    --cinza-opaco: rgba(217, 217, 217, 0.8);
    --preto-secundario: #000000; 
    --cinza-fundo: rgba(217, 217, 217, 0.20);
}

body {
    background-color: var(--preto-principal);
    font-family: 'Montserrat', sans-serif;
}

