.banner-video{
    display: flex;
    justify-content: center;
}

.banner-video__texto-fundo {
    font-size: 250px;
    font-weight: 700;
    margin-right: 1.38em;
    padding-left: 0.3em;
    padding-top: 0.2em;
    letter-spacing: -0.6rem;
    color: var(--branco-opaco);
}

.banner-video__frente{
    display: flex;
    position: absolute;
}

.banner-video__titulo{
    margin-top: 1em;
    color: var(--branco-principal);
    font-size: 2.6em;
    background-color: var(--laranja-principal);
    height: 2em;
    width: 20em;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}